# Environment / secrets
.env
.env.*

# Logs
/storage/logs/*
!/storage/logs/.gitkeep
*.log

# Dependencies
/vendor/
/node_modules/

# IDE
.vscode/
.idea/

# Windows / OS
Thumbs.db
.DS_Store

# Temporary / backup files
*.bak
*.tmp
*~
